.popup__close {
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: -39px;
	right: -40px;
	color: #fff;
	width: 32px;
	height: 32px;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(../../../images/CloseIcon.svg);
	background-size: cover;
}
 @media screen and (min-width:320px) and (max-width:1279px){
	.popup__close {
		top: -36px;
		right: 0;
		width: 20px;
		height: 20px;
	}
}
 .popup__close:hover {
	opacity: .8;
	cursor: pointer;
}