.card__like {
	background-color: rgba(0, 0, 0, 0);
	height: 19px;
	width: 22px;
	cursor: pointer;
	background-image: url("../../../images/grid/__like.svg");
	border: none;
	padding: 0;
}
 .card__like:hover {
	opacity: .5;
}