.card__like_activeted {
	height: 19px;
	width: 22px;
	cursor: pointer;
	background-image: url("../../../../images/grid/like_activeted.svg");
	border: none;
	padding: 0;
}
 .card__like_activeted:hover {
	opacity: .5;
}